Using the  Wine Quality Dataset, test the claim that Wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating.

null hypothesis : there is a less than or equal median alcohol content in wines with high quality rating than those with a lower rating.

alternative hypothesis : wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating.

```Median1 = median alcohol content of lower quality wine```

```Median2 = median alcohol content of higher quality wine```


* ```alpha =  0.05```

* ```H0 : Median2 <= Median1```

* ```H1: Median2 > Median1```

In [94]:
# loading the libraries
import scipy.stats as stats
import pandas as pd

In [104]:
# loading the data set
df = pd.read_csv('winequality-red.csv', sep = ";", header = 0 )
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [96]:
# getting the unique items in quality

df.quality.unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [97]:
# grouping by quality and finding median of alcohol content

df2 = df.groupby('quality')['alcohol'].median().to_dict()

df2

{3: 9.925, 4: 10.0, 5: 9.7, 6: 10.5, 7: 11.5, 8: 12.15}

In [103]:
# appending alcohol content on lower quality and higher quality list

lower_quality = []
high_quality =  []
for key,value in  df2.items():
    if key <= 5:
        lower_quality.append(value)
    else:
        high_quality.append(value)

In [99]:
print ( 'high quality : ' ,high_quality)
print ( 'lower quality : ' ,lower_quality)

high quality :  [10.5, 11.5, 12.15]
lower quality :  [9.925, 10.0, 9.7]

In [107]:
#  performing a two sample t test

def two_sample_test(sample_1, sample_2):
    results = stats.ttest_ind(a = sample_1, b = sample_2)

    return results


two_sample_test(lower_quality, high_quality)

Ttest_indResult(statistic=-3.0891690365598996, pvalue=0.03660386137423448)

* Since the ```P_value 0.0366``` is less than ```0.05```, we reject the null hypothesis.